@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps{
    #{percentage($i*(calc(1 / $steps)))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps{
    #{percentage($i*(calc(1 / $steps)))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

.hasherCard {
  border: 1px solid black;
  width: 800px;
  background-color: #17191a;
  margin: 0 auto;
  box-shadow: -0.7rem 0.7rem 0 rgba(29, 30, 28, 0.26);
  padding: 20px;
  height: 400px;
  color: white;
  border-radius: 2px;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 9px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  position: relative;
  margin-top: 30px;
  width: 285px;

  &:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    background: transparent;
    overflow: hidden;
    clip: rect(0,900px,0,0); 
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  &:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue; 
    top: 0;
    background: transparent;
    overflow: hidden;
    clip: rect(0,900px,0,0); 
    animation: noise-anim-2 5s infinite linear alternate-reverse;
  }
}

.hasherForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  margin-left: 5px;
}

.hasherSubmit{
  margin-top: 5px;
  background-color: #2d3032;
  width: 45%;
  align-self: center;
}

.hasherInput {
  background-color: #2d3032;
  width: 45%;
  align-self: center;
  margin-bottom: 10px;
}

.result {
  text-align: center;
  margin-top: 30px;
  margin-left: 5px;
}

.resultText {
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.copyToClipboard {
  background-color: #2d3032;
  width: 45%;
  align-self: center;
  margin-top: 10px;
  height: 35px;
}